<div class="image">
     <h1 class="loader">
  <span>T</span>
  <span>Ü</span>
  <span>R</span>
  <span>K</span>
  <span>İ</span>
  <span>Y</span>
  <span>E</span>
</h1>
   <h1 class="heading"> <%= t('hello') %></h1>
   <p>
   <%=link_to t('home'), posts_path, class:"btn btn-large"%>
   </p>
</div>
